.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2px;
  padding: var(--space-4) 0 var(--space-5);
  grid-template-columns: repeat(4, minmax(70px, 84px));
  grid-template-rows: repeat(14, minmax(56px, 76px));
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(7, minmax(80px, 104px));
    grid-template-rows: repeat(8, 96px);
  }
}
